.divwarp {
	width:1127px;
	overflow:hidden;
	margin:0 auto !important;
	margin-top:380px;
}
.div1 {
	height:435px;
}
.div_left {
	width:236px;
	float:left;
	height:100%;
}
.tit {
	height:40px;
	width:236px;
	float:left;
	line-height:40px;
}
.tit span.num {
	font-size:24px;
	color:#ffa803;
	font-family:"Î¢ÈíÑÅºÚ";
}
.tit span.nam {
	font-size:16px;
	color:#666666;
	font-family:"Î¢ÈíÑÅºÚ";
	font-weight:bold;
}
.adiv {
	width:236px;
	float:left;
	margin-top:5px;
	height:385px;
	border-top:#ffa803 solid 2px;
}
.div_right {
	width:889px;
	float:left;
	height:100%;
}
.tit1 {
	height:40px;
	width:889px;
	float:left;
	line-height:50px;
	overflow:hidden;
}
.tit1 span.tj {
	font-size:12px;
	float:right;
}
.tit1 span.tj a {
	color:#3f3f3f;
}
.tit1 span.tj a:hover {
	color:#b00100;
}
.tit1 span.tj a {
	color:#3f3f3f;
}
.tit1 span.img {
	font-size:16px;
	color:#666666;
	font-family:"Î¢ÈíÑÅºÚ";
	font-weight:bold;
	float:right;
	margin:16px 5px auto 5px;
}
.con {
	width:889px;
	float:left;
	margin-top:5px;
	height:385px;
	border-top:#d7d7d7 solid 2px;
	overflow:hidden;
}
.con ul li {
	float:left;
	padding-left:2px;
}
.tit2 {
	height:40px;
	width:236px;
	float:left;
	line-height:40px;
}
.tit2 span.num {
	font-size:24px;
	color:#60bac5;
	font-family:"Î¢ÈíÑÅºÚ";
}
.tit2 span.nam {
	font-size:16px;
	color:#666666;
	font-family:"Î¢ÈíÑÅºÚ";
	font-weight:bold;
}
.adiv2 {
	width:236px;
	float:left;
	margin-top:5px;
	height:385px;
	border-top:#60bac5 solid 2px;
}
.tit3 {
	height:40px;
	width:236px;
	float:left;
	line-height:40px;
}
.tit3 span.num {
	font-size:24px;
	color:#e2927b;
	font-family:"Î¢ÈíÑÅºÚ";
}
.tit3 span.nam {
	font-size:16px;
	color:#666666;
	font-family:"Î¢ÈíÑÅºÚ";
	font-weight:bold;
}
.adiv3 {
	width:236px;
	float:left;
	margin-top:5px;
	height:385px;
	border-top:#e2927b solid 2px;
}
.tit4 {
	height:40px;
	width:236px;
	float:left;
	line-height:40px;
}
.tit4 span.num {
	font-size:24px;
	color:#9983ce;
	font-family:"Î¢ÈíÑÅºÚ";
}
.tit4 span.nam {
	font-size:16px;
	color:#666666;
	font-family:"Î¢ÈíÑÅºÚ";
	font-weight:bold;
}
.adiv4 {
	width:236px;
	float:left;
	margin-top:5px;
	height:385px;
	border-top:#9983ce solid 2px;
}
.tit5 {
	height:40px;
	width:236px;
	float:left;
	line-height:40px;
}
.tit5 span.num {
	font-size:24px;
	color:#7baeef;
	font-family:"Î¢ÈíÑÅºÚ";
}
.tit5 span.nam {
	font-size:16px;
	color:#666666;
	font-family:"Î¢ÈíÑÅºÚ";
	font-weight:bold;
}
.adiv5 {
	width:236px;
	float:left;
	margin-top:5px;
	height:385px;
	border-top:#7baeef solid 2px;
}
.tit6 {
	height:40px;
	width:236px;
	float:left;
	line-height:40px;
}
.tit6 span.num {
	font-size:24px;
	color:#f7dd6c;
	font-family:"Î¢ÈíÑÅºÚ";
}
.tit6 span.nam {
	font-size:16px;
	color:#666666;
	font-family:"Î¢ÈíÑÅºÚ";
	font-weight:bold;
}
.adiv6 {
	width:236px;
	float:left;
	margin-top:5px;
	height:385px;
	border-top:#f7dd6c solid 2px;
}












  .all-sort-list {
        position: relative;
        width: 200px;
        height: 350px;
        border: 1px solid #d4d4d4;
        padding: 3px 3px 3px 0px;
        background: #FAFAFA;
		float:left;
    }

    .all-sort-list .item {
        height: 56px;
        border-top: 1px solid #FFFFFF;
    }

    .all-sort-list .item.bo {
        border-top: none;
    }

    .all-sort-list .item h3 {
        height: 56px;
        line-height: 56px;
        border: 1px;
        font-size: 14px;
        font-weight: normal;
        width: 129px;
        overflow: hidden;
        padding-left: 70px;
    }

    .all-sort-list .hover h3 {
        position: relative;
        z-index: 13;
        background: #FFF;
        border-color: #DDD;
        border-width: 1px 0px;
        border-style: solid;
    }

    .all-sort-list .item span {
        padding: 0px 5px;
        color: #A40000;
        font-family: "\5B8B\4F53";
    }

    .all-sort-list .item a {
        color: #000;
        text-decoration: none;
    }

    .all-sort-list .item a:hover {
        font-weight: bold;
        color: #E4393C;
    }

    .all-sort-list .item-list {
        display: none;
        position: absolute;
        width: 705px;
        min-height: 200px;
        _height: 200px;
        background: #FFF;
        left: 198px;
        box-shadow: 0px 0px 10px #DDDDDD;
        border: 1px solid #DDD;
        top: 3px;
        z-index: 10;
    }

    .all-sort-list .item-list .close {
        position: absolute;
        width: 26px;
        height: 26px;
        color: #FFFFFF;
        cursor: pointer;
        top: -1px;
        right: -26px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        font-family: "Microsoft Yahei";
        background: rgba(0, 0, 0, 0.6);
        background-color: transparent \9;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000');
    }

    .item-list .subitem {
        float: left;
        width: 477px;
        padding: 0px 4px 0px 8px;
    }

    .item-list .subitem dl {
        border-top: 1px solid #EEE;
        padding: 6px 0px;
        overflow: hidden;
        zoom: 1;
    }

    .item-list .subitem .fore1 {
        border-top: none;
    }

    .item-list .subitem dt {
        float: left;
        width: 54px;
        line-height: 22px;
        text-align: right;
        padding: 3px 6px 0px 0px;
        font-weight: 700;
        color: #E4393C;
    }

    .item-list .subitem dt a {
        color: #E4393C;
        text-decoration: underline;
    }

    .item-list .subitem dd {
        float: right;
        width: 415px;
        padding: 3px 0px 0px;
        overflow: hidden;

    }

    .item-list .subitem dd em {
        float: left;
        height: 14px;
        line-height: 14px;
        padding: 0px 8px;
        margin-top: 5px;
        border-left: 1px solid #CCC;

    }

    .item-list .subitem dd em a, .item-list .cat-right dd a {
        color: #666;
        text-decoration: none;
    }

    .item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover {
        font-weight: normal;
        text-decoration: none;
    }
	
	    /* Default link styles */
    a:link, a:visited {
        text-decoration: none;
		font-style:normal;
    }

    a:hover, a:active {
        text-decoration: none;
		font-style:normal;
    }

