.detail_right {
	width: 880px;
	height: auto;
	float: right;
	font-size: 12px;
	font-family: "Œ¢»Ì—≈∫⁄";
}

/* zoom-section */
.zo_left {
	width: 322px;
	height: auto;
	overflow: hidden;
	float: left !important;
	margin: 10px;
}

.zo_right {
	float: right;
	width: 500px;
}

.zoom-section {
	clear: both;
	margin-top: 20px;
}

* html .zoom-section {
	display: inline;
	clear: both;
}

.zoom-desc {
	float: left;
	width: 300px;
	height: 50px;
}

.zoom-small-image {
	margin: 10px 0;
	width: 302px;
	float: left;
	border: 1px solid #D3D3D3; 
}

.zoom-tiny-image {
	border: 1px solid #CCC;
	margin: 0px;
}

.zoom-tiny-image:hover {
	border: 1px solid #C00;
}

.text_div {
	width: 520px;
	float: right;
	margin-top: 10px;
	padding-left: 10px
}

.text_div dt {
	font-size: 16px;
	font-family: "Œ¢»Ì—≈∫⁄";
	font-weight: bold;
	padding-bottom: 15px;
	padding-top: 10px;
}

.text_div dd {
	margin-top: 10px;
	color: #6c6c6c;
	font-size: 14px;
	border-bottom: #999 dashed 1px;
	padding-bottom: 5px;
}

.shop {
	width: 410px;
	float: right;
	margin-top: 10px;
	height: 175px;
	border: 1px solid #d3d3d3;
}

.con_div {
	width: 880px;
	float: left;
	height: 400px;
	/* overflow: hidden; */
}

/* ÂïÜÂìÅÊèèËø∞ */
.detail_list {
	float: right;
	width: 880px;
	font-family: Arial, Helvetica;
	line-height: 24px;
}

#tabs {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#tabs li {
	float: left;
	width: 100px;
	border-radius: 6px 6px 0 0;
	border: #cfcfcf solid 1px;
	margin-right: 5px;
	background-color: #f5f5f5;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

#tabs a {
	color: #898989;
	display:block;
	width: 100px;
	border-radius: 6px 6px 0 0;
}

#tabs a:hover,#tabs a:hover::after,#tabs a:focus,#tabs a:focus::after {
	background: #9a0010;
	color: #FFF;
}

#content {
	background: #fff;
	padding: 2em;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	-moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
	box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
	border: 1px solid #d3d3d3;
}

#content h2,#content h3,#content p {
	margin: 0 0 15px 0;
}
/* ------------------------------------------------- */
#about {
	color: #999;
}

#about a {
	color: #eee;
}

.shop {
	width: 480px;
	float: right;
	margin-top: 10px;
	height: 135px;
	border: 1px solid #d3d3d3;
	padding: 15px;
}

.shop_box {
	width: 285px;
	margin: 5px auto 5px 5px;
	border-right: #CCC solid 1px;
	float: left;
	height: 125px;
	float: left;
}

.buy {
	height: 40px;
	width: 100%;
	float: left;
	margin-left: 0px;
}

.buy span {
	float: left;
	margin-top: 3px;
}

#buyNum {
	width: 40px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #CCC;
	text-align: center;
	float: left;
	margin: 0 2px;
}

#add,#jian {
	width: 26px;
	height: 20px;
	float: left;
	border: 1px solid #ccc;
	background: #eee;
	cursor: pointer;
	margin: 0 5px;
}

.address_box {
	width: 100%;
	float: left;
}

.prefer_box {
	width: 180px;
	float: right;
}

.prefer_box dl {
	margin-left: 17px;
}

.prefer_box dl dt {
	border-bottom: #900 solid 1px;
	color: #900;
	margin-bottom: 10px;
	height: 20px;
}

.prefer_box dl dd {
	line-height: 22px;
}

.btn_box {
	width: 350px;
	height: 50px;
	float: left;
	margin-top: 20px;
	font-size: 12px;
}

.btn_box btn {
	width: 200px;
}

.button {
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 1px 12px 1px 12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.red {
	background: #b00100;
}

.red:hover {
	font-weight: 100;
}

.small {
	font-size: 12px;
}

.yellow {
	background: #C60;
}

.yellow:hover {
	font-weight: 100;
}

.bo_red {
	background: #FFF;
	color: #b00100;
	border: #b00100 solid 1px;
}

.bo_red:hover {
	font-weight: 100;
}