<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wit.dao.CompanyContractsDao">
	<!--供应商合同表详情 -->
	<select id="findCompanyContracts" resultType="com.wit.model.CompanyContracts">
		SELECT
		id,
		companyId, contractTime, contractTerms, supplyCategory,status,
		contractContent
		FROM CompanyContracts
		where status !=2
	</select>

	<!--根据公司id查询合同表 -->
	<select id="findByCompanyId" parameterType="Integer"
		resultType="com.wit.model.CompanyContracts">
		SELECT
		id, companyId, contractTime, contractTerms,
		supplyCategory,
		contractContent,status
		FROM CompanyContracts
		WHERE
		CompanyId=#{companyId} and status !=3
	</select>
	<!-- 根据公司id获取合同信息 -->
	<select id="checkCompanyContractsByCompanyId" parameterType="Integer"
		resultType="com.wit.model.CompanyContracts">
		<![CDATA[
		SELECT
		id, companyId, contractTime, contractTerms,
		supplyCategory,
		contractContent,status
		FROM CompanyContracts
		WHERE
		CompanyId=#{companyId}		
		AND `Status`=1 
		AND ContractTime<=NOW() 
		AND ContractExpirationTime>=NOW()
		]]> 
	</select>
	<!--根据公司id分页查询合同表 -->
	<select id="findByCompanyIds" parameterType="hashMap"
		resultType="com.wit.model.CompanyContracts">
		SELECT
		id, companyId, contractTime, contractTerms,contractExpirationTime,
		supplyCategory,
		contractContent,status
		FROM CompanyContracts
		WHERE
		CompanyId=#{companyId} and status !=3 order by ID limit #{page.begin},#{page.pageNum}
	</select>

	<!--根据id查询 -->
	<select id="findById" parameterType="Integer"
		resultType="com.wit.model.CompanyContracts">
		SELECT
		id, companyId, contractTime, contractTerms,contractExpirationTime,
		supplyCategory,contractType,
		contractContent,status
		FROM CompanyContracts
		WHERE
		id=#{id} and status !=3
	</select>

	<!--删除合同 -->
	<update id="deleteCompanyContracts" parameterType="Integer">
		update
		CompanyContracts set status=3
		where
		id=#{id}
	</update>

	<!--修改合同 -->
	<update id="updateCompanyContracts" parameterType="com.wit.model.CompanyContracts">
		UPDATE
		CompanyContracts
		SET
		contractTime=#{contractTime},
		contractTerms=#{contractTerms}, supplyCategory=#{supplyCategory},
		contractContent=#{contractContent},status=#{status}
		WHERE
		id=#{id}
	</update>

	<!--增加 -->
	<insert id="insert" parameterType="com.wit.model.CompanyContracts">
		INSERT INTO CompanyContracts (
		companyId,ContractType,ContractTime,ContractExpirationTime, ContractTerms, SupplyCategory,status,
		ContractContent
		) VALUES (
		#{companyId},#{contractType},#{contractTime},#{contractExpirationTime}, #{contractTerms},#{supplyCategory},0,
		#{contractContent}
		)
	</insert>
	<!-- findRows -->
	<select id="findRows" resultType="int" parameterType="Integer">
		SELECT
		COUNT(id)
		FROM CompanyContracts WHERE
		companyId=#{id} and status !=3
	</select>
	
	<!-- 根据ID字符数组删除数据 -->
	<update id="deleteByIds" parameterType="string">
		update CompanyContracts set
		status=3
		where FIND_IN_SET(id,#{ids})
	</update>	
	
	<!--修改合同状态  -->
	<update id="updateContractStatus" parameterType="Integer">
		update companycontracts 
		SET status = 1 
		WHERE id=#{id}
	</update>
</mapper>