<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.wit.dao.ProductSampleDao">
	<!-- 查询所有 -->
	<select id="getAll" resultType="com.wit.model.ProductSample">
		select id,supplierId,productId,status,requestTime,requestNum,requestUnit
		from ProductSample
	</select>
	<!-- 删除 -->
	<delete id="delete" parameterType="Integer">
		delete from ProductSample
		where id=#{id}
	</delete>
	<!-- 添加 -->
	<insert id="add" parameterType="com.wit.model.ProductSample">
		insert into ProductSample(
		supplierId,productId,status,requestTime,requestNum,requestUnit)
		values( #{supplierId},#{productId},#{status},#{requestTime}
			#{requestNum},#{requestUnit}
		)
	</insert>
	<!--根据Id查询 -->
	<select id="findbyId" parameterType="Integer" 
	resultType="com.wit.model.ProductSample">
		select id,supplierId,productId,status,requestTime,requestNum,requestUnit
		from ProductSample
		where id=#{id}
	</select>
	<!-- 修改 -->
	<update id="update" parameterType="com.wit.model.ProductSample">
		update ProductSample set
		supplierId=#{supplierId},productId=#{productId},status=#{status},
		requestTime=#{requestTime},requestNum=#{requestNum},
		requestUnit=#{requestUnit}
		where id=#{id}
	</update>

	
</mapper>